{% extends "base_generic.html" %}

{% block title %}
    <title>Ассортимент магазина</title>
{% endblock %}

{% block content %}
    <h1>Магазин:</h1>
    
    {% if goods_list %}
    <table border=1 cellpadding=30px class="table">
        <tr class="th">
            <td>Товар</td>
            <td>Описание</td>
            <td>Цена</td>
        </tr>

        {% for element in goods_list %}
        <tr class="tr">
            <td class="td">{{ element.name }}</td>
            <td class="td">{{ element.comment }}</td>
            <td class="td">{{ element.get_sum }}</td>
        </tr>
        {% endfor %}

    </table>
    {% else %}
      <p>Товаров ещё нет.</p>
    {% endif %}
    <a href="#top" title="В начало" tabindex="-1" class="topbutton">Наверх</a>
{% endblock %}
