{% extends "base_generic.html" %}

{% block content %}
    <h1>Транзакции {{ account.info }}</h1>
    <h4>Сейчас на счету 
        {% if account.balance > 0 %}
            <span class="green">{{account.balance}}t</span>
        {% elif request.account.balance < 0 %}
            <span class="red">{{account.balance}}t</span>
        {% else %}
            {{account.balance}}t
        {% endif %}
    .</h4>
    <h2>Последние изменения счёта:</h2>
    {% if not account.get_transactions is None %}
    <table class="table">
        
        <tr class="tr">
            <td class="td">Дата</td>
            <td class="td">Изменение счёта</td>
            <td class="td">Комментарий</td>
        </tr>

        {% for element in account.get_transactions %}
        <tr class="tr">
            <td class="td">{{ element.date }}</td>
            <td class="td">
                {% if element.sign == '-' %}
                    <span {% if element.receiver == account %} class="red" {% else %} class="green" {% endif %}>{% if element.receiver == account %}-{% else %}+{% endif %}{{ element.get_sum }}</span>
                {% else %}
                    <span {% if element.receiver == account %} class="green" {% else %} class="red" {% endif %}>{% if element.receiver == account %}+{% else %}-{% endif %}{{ element.get_sum }}</span>
                {% endif %}
            </td>
            <td class="td">{{ element.comment }}</td>
        </tr>
        {% endfor %}

    </table>
    {% else %}
      <p>На счет ещё не было поступлений.</p>
    {% endif %}
    <a href="#top" title="В начало" tabindex="-1" class="topbutton">Наверх</a>
{% endblock %}